
include/
lib/
.vs/
*.ipch
*.opensdf
*.sdf
*.gch

.DS_Store
*.swp
*.Trashes
 
# All platforms:
Library
Temp
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs

Temp/
Library/

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
.objs/
_ReSharper*/
